<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1087012192079-bhu2m0eb2lcgjgecfpffjrkljgpdn6es.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1087012192079-bhu2m0eb2lcgjgecfpffjrkljgpdn6es</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1087012192079-d4ajg3r5ait4gge8sfkgmhdhug85sg54.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD4BcD_ytYn5DbNk2ZfnHvzcAjoLN7j0VY</string>
	<key>GCM_SENDER_ID</key>
	<string>1087012192079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fahrur.congorna</string>
	<key>PROJECT_ID</key>
	<string>pasar-2cb89</string>
	<key>STORAGE_BUCKET</key>
	<string>pasar-2cb89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1087012192079:ios:4856015c3b3ad859ab0f3a</string>
	<key>DATABASE_URL</key>
	<string>https://pasar-2cb89.firebaseio.com</string>
</dict>
</plist>